
/* #87E098
#9EFFE0
#E0966E
#788B73
#61554E */

/* varible */
:root{
    --main-color :#87E098
}
/* globale rule
 */*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    font-family: "Work-Sans", "sans-serif";
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

}
@media (min-width: 770px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
img{
    height: 50px;
    width: 50px;
}
/* start component */
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing:  -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media(max-with: 767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/* header */
header{
    padding: 20px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .links{
    position: relative;
}
.header .links:hover .icons span:nth-child(2){
    width: 100%;
}
.header .links .icons{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icons span{
    background-color: #333;
    margin-bottom: 5px;
}
.header .links .icons span:first-child{
    height: 2px;
    width: 100%;
}
.header .links .icons span:nth-child(2){
    height: 2px;
    width: 60%;
    transition: 0.3s;
}
.header .links .icons span:last-child{
    height: 2px;
    width: 100%;
    
}
.header .links ul{
    list-style: none;
    margin: 0;
    background-color: aliceblue;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul{
    display: block;
}
.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent aliceblue transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
/* landing page */
.lending{
    background-image: url("../images/686998.jpg");
    height:calc(100vh - 50px);
    background-size: cover;
    position: relative;
}
.lending .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 335px;
    max-width: 100%;

}
.lending .intro-text h1 {
    margin-top: 0px;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.lending .intro-text p  {
    font-size: 19px;
    line-height: 1.8;
}
/* start featres */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: antiquewhite;
}


.f .container {
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(300px,1fr));
    grid-gap: 20px;
} 

.f .feat{
    padding: 20px;
    text-align: center;
}
.f .feat i{
    color: var(--main-color);

}
.f .feat h3{
    font-weight: 800;
    margin: 30px;
}
.f .feat p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;

}
/* start services */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(300px,1fr));
    grid-gap: 20px;
    margin-top: 100px;
}
.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
}
@media(max-width: 767px){
    .services .services-content .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i{
    color: #9EFFE0;
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;

}
.services .services-content .srv .text h3 {
    margin: 0 0 20px ;
}
.services .services-content .srv .text p {
    color: #333;
    font-weight: 300;
    line-height: 1.6;
    
}
.services .services-content .image{
    position: relative;
    text-align: center;
    width: 300px;
    height: 400px;
    z-index: -2;
}
.services .services-content img{
    width: 250px;
    height: 400px;
}

.services .services-content .image::before{
    content: "";
    background-color: #788B73;
    width: 100px;
    height: calc(100% + 100px);
    top :-50px;
    position: absolute;
    right: 0;
    z-index: -1;
}
@media (max-width: 1199px){
    .img-column{
        display: none;
    }
}
/* end services */
/* start portfolio page */
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill,  minmax(300px,1fr));
    grid-gap: 20px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img{
    max-width: 100%;
    width: 367px;
    height: 300px;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;

}
.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
/* end portfolio page */